.main-container {
  width: 100%;
  height: 100%;
}
.swiper-container0 {
  width: 100%;
  height: 100%;
}
.first-screen {
	background-color: red;
}
.environment {
	background-color: blue;
}
.swiper-container0 .swiper-wrapper {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}